/.venv
/docs/build
/LIB/LIB_RTL
/LIB/LIB_BENCH
/SRC/temp
modelsim.ini
vsim.wlf
wlft2wta98
wlft6v8y2d
wlft8cf9ei
wlft92gta0
wlft96msmv
wlftbjvfx3
wlftjny22z
wlftsvdxqr
vlog.opt
wlft5x26ki
wlft34a18b
wlft270hz8
wlftrdy7df
wlftwr9qw5
