/.venv
/LIB/LIB_RTL
/LIB/LIB_BENCH
/SRC/RTL/temp
/SRC/BENCH/temp
SRC/BENCH/common/xvhdl.pb
transcript
modelsim.ini
vsim.wlf
YOLO-FPGA.cr.mti
YOLO-FPGA.mpf
SRC/RTL/conv/conv.vhd
SRC/BENCH/conv/conv_tb.vhd
